<div class="row">
  <span style="font-size:25px">University Sign In/Up</span>
  <hr>
</div>

<div class="row">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#a" data-toggle="tab">Sign In</a></li>
    <li><a data-target="#b" href="#b" data-toggle="tab">Sign Up</a></li>
  </ul>
  <div class="tab-content clearfix">
    <div class="tab-pane active" id="a">
      <app-sign-in (submit)="signIn($event)"></app-sign-in>
    </div>
    <div class="tab-pane" id="b">
      <app-usign-up (submit)="signUp($event)"></app-usign-up>
    </div>
  </div>
</div>
