<div class="row">
  <span style="font-size:25px">Courses</span>
  <a class="btn waves-effect waves-light red pull-right" href="#" [routerLink]="['new-course']"><i class="material-icons">add</i></a>
  <hr>
</div>

<div class="row">
      <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content purple lighten-4">
          <span class="card-title activator grey-text text-darken-4 "><a href="#" [routerLink]="['/course','34232']">Data Science</a></span>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action grey lighten-4">
          <a href="#" class="green-text text-accent-4"><b >100</b> Students</a>
          <a href="#" class="pull-right">Delete</a>
        </div>
      </div>
    </div>
</div>
