<div class="col-sm-4 col-lg-4 col-md-4">
  <!-- Password input-->
  <div class="control-group">
    <label class="control-label" for="passwopasswordrdinput">Title:</label>
    <div class="controls">
      <input required="" id="title" name="title" formControlName="password" class="form-control" placeholder="Chapter Title" type="text"
        class="input-medium">
    </div>
  </div>
</div>

<div class="col-sm-6 col-lg-6 col-md-6">
  <!-- Password input-->
  <div class="control-group">
    <label class="control-label" for="passwopasswordrdinput">Path:</label>
    <div class="controls">
      <input required="" id="password" name="password" formControlName="password" class="form-control" type="password" placeholder="https://www.youtube.com/watch?v=AFN67cRapmM"
        class="input-medium">
    </div>
  </div>
</div>

<div class="col-sm-2 col-lg-2 col-md-2">
  <!-- Button -->
  <div class="control-group">
    <label class="control-label" for="signin"></label>
    <div class="controls">
      <a class="btn waves-effect waves-light red" href="#" [routerLink]="['new-course']">Add</a>
    </div>
  </div>
</div>
