<div class="row">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#a" data-toggle="tab">My Courses (2)</a></li>
    <li><a data-target="#b" href="#b" data-toggle="tab">In Progress (1)</a></li>
    <li><a data-target="#c" href="#c" data-toggle="tab">Completed (1)</a></li>
  </ul>
  <div class="tab-content clearfix">
    <div class="tab-pane active" id="a">
      <br>

      <div>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content purple lighten-4">
              <span class="card-title activator grey-text text-darken-4 "><a href="#" [routerLink]="['/course','34232']">Data Science</a></span>
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action grey lighten-4">
              <a href="#"><b class="green-text text-accent-4">60% Completed</b></a>
              <a href="#" class="pull-right">Remove</a>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Machine Learning</span>
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action blue lighten-5">
              <a href="#"><b class="green-text text-accent-4">100% Completed</b></a>
              <a href="#" class="pull-right">Remove</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane" id="b">

      <div>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Data Science</span>
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action blue lighten-5">
              <a href="#"><b class="green-text text-accent-4">60% Completed</b></a>
              <a href="#" class="pull-right">Remove</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane" id="c">


      <div>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Machine Learning</span>
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action blue lighten-5">
              <a href="#"><b class="green-text text-accent-4">100% Completed</b></a>
              <a href="#" class="pull-right">Remove</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
